.workspace__block-palette{
    overflow-y: auto;
    overflow-x: hidden;
}

.block{
    background-color: rgba(21, 75, 221, 0.744);
    min-height: 6vh;
    width: fit-content;
    border: 2px solid black;
    margin: 20px 0px 0px 5px;
    cursor: grab;
    padding: 0.8em 0.8em; 
    user-select: none;
}

.code-block {
    position: absolute;
    background-color: rgba(21, 75, 221, 0.85);
    border: 2px solid black;
    padding: 0.8em;
    cursor: grab;
    user-select: none;
}

.workspace__category-1{
    margin: 20px 0px 0px 10px;
}

.category{
    font-size: 2em;
    font-weight: bold;
    opacity:0.7;
    margin: 25px 0px 0px 10px;
    user-select: none;
}

.workspace__plus-block{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 7vh;
    align-items: center;
}

/* .workspace__-block > *{
    pointer-events: none;
} */

.workspace__branch{
    min-width: 35px;
    min-height: 25px;
    background-color: white;
    border: 2px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    height: fit-content;
}


.with-branch {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.with-input{
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.workspace__input{
    width: 40px;
    height: 25px;
    min-width: 10px;
    min-height: 10px;
    background-color: white;
    border: 2px solid #444;
    position: relative;
}


.workspace__block-content { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: fit-content;
    padding: 0.8em 0.8em;
}    

.workspace__next-block {
    display: flex;
    flex-direction: column;
    min-height: 10px;
    width: 100%;
}

.workspace__next-block > .code-block {
    position: static;
    border: 0px;
}

.workspace__assign-block, .workspace__print-block{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.workspace__print-block{
    background-color: rgba(219, 60, 219, 0.667);
}