.workspace__code-editor{
    flex: 7.5 0 0;
    position: relative;
    min-height: 100vh;
    margin: 0;
    display: flex;
    /* align-items: center; */
}

.workspace__viewport{
    overflow: hidden;
    height: 100%;
    width: 100%;
    cursor: grab;
    position: relative;
    background-color: #f0f0f0;  
}

.workspace__scene{
    width: 10000px;
    height: 10000px;
    background-color: white;
    background-image: radial-gradient(circle, #d1d1d1 2px, transparent 0);
    background-size: 40px 40px;
    position: absolute;
    transform-origin: 0 0;
}