.workspace__consol{
    width: 100%;     
    max-width: 300px;    
    overflow-y: auto;   
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
} 
.workspace__output {
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: pre-wrap; 
}   