header{
    background-color: pink;
    height: 50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

img{
    height:40px;
    margin-left: 10px;
    margin-top: -2px;
}
