header{
    background-color: pink;
    height: 50px;
}
.title{
    display:flex;
    flex-direction: row;
}
img{
    width:40px;
    height:40px;
    margin-top: 6px;
    margin-left: 5px;
}

.title__logo{
    margin-top: 20px;
    margin-left: 5px;
}