body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.workspace {
    display: flex;
    flex: 1;
    min-height: 0;
}

.container{
    border: 2px solid black;
    
    /* margin-top: 7vh; */
}

#run-btn{
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10em;
}