body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.workspace {
    display: flex;
    flex: 1;
    min-height: 0;
}

.container{
    border: 2px solid black;
    
    /* margin-top: 7vh; */
}

#run-btn{
    background-color: green;
    width: 12em;
    height: 2.5em;
    border-radius: 30px 0px 30px 0px;
    margin-right: 1em;
    font-weight: bold;
    color: white;
}

#rst-btn{
    background-color: gray;
    width: 12em;
    height: 2.5em;
    border-radius: 30px 0px 30px 0px;
    margin-right: 2em;
    font-weight: bold;
    color: white;
    background-color: red;
}

#save-btn{
    background-color: rgba(255, 255, 255, 0.699);
    width: 6em;
    height: 2em;
    margin-right: 1em;
    font-weight: bold;
} 
#file-input{
    background-color: rgba(255, 255, 255, 0.699);
    width: 6em;
    height: 2em;
    margin-right: 1em;
    font-weight: bold;
}

.buttons{
    display: flex;
    align-items: center;
}

.block-error {
    background-color: rgba(255, 0, 0, 0.696)!important;
    border: 2px solid red !important;
    box-shadow: 0 0 10px red;
}